<!DOCTYPE html>
<html>
  <head>
    <title>Electron Launch Pad</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="helpers/hyper-app/RequireHelper.js"></script>
<script>
  RequireHelper.requireJQuery()
</script>
    
<script src="vendors/jquery/jquery-3.4.1-electron.js"></script>

<link href="vendors/semantic-ui/semantic.min.css" rel="stylesheet" type="text/css">
<script src="vendors/semantic-ui/semantic.min.js"></script>

<script src="./vendors/redips-drag/redips-drag-min.js"></script>

<link href="./LaunchpadSlider.less" rel="stylesheet/less" type="text/css" />
<script>
  less = {
    logLevel: 0,
  }
</script>
<script src="vendors/less/less.min.js" ></script>


<script src="helpers/electron/ElectronFileHelper.js"></script>
<script src="helpers/electron/ElectronHelper.js"></script>

<script src="helpers/VueHelper.js"></script>
<script src="vendors/vue/vue.min.js"></script>

<script src="./helpers/REDIPSHelper.js"></script>
<!-- <link href="./helpers/REDIPSHelper.css" rel="stylesheet" type="text/css" /> -->
<script src="./helpers/ShortcutHelper.js"></script>

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>

  </head>
  <body>

<center>
  <!-- tables inside this DIV could contain drag-able content  -->
  <div id="redips-drag" ref="main">
    <div class="searchbar">
      <div class="ui search fluid">
        <div class="ui icon fluid input">
          <input class="prompt" type="text" 
                 placeholder="Search APP...">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    
    <div v-for="tables in getTables">
      <table class="tbl1">
          <tbody>
              <tr v-for="row in tables"
                class="rl">
                  <td v-for="col in row">
                    <template v-if="col === null">
                      
                    </template>
                    <template v-else>
                      <div class="ui button redips-drag"
                           v-bind:data-order="col.order">
                        <img v-bind:src="col.icon" />
                        {{ col.name }}
                      </div>
                    </template>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="scroll-down-padding"></div>
    </div>
</center>
  
  <script src="./VueController.js"></script>
  </body>
</html>
